body {
    height: 100%;
    background-image: url("../images/acc_created.png");
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.container p{
    font-size: xx-large;
    color: white;
}


.container a{
    margin-left: 80px;
}