body {
    height: 100%;
    background-image: url("../images/changed_password.jpg");
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.container p{
    font-size: xx-large;

}


.container a{
    margin-left: 200px;
}