
        .container-table100 {
	 width: 100%;
	 min-height: 100vh;
	 background: #fff;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 align-items: top;
	 justify-content: center;
	 flex-wrap: wrap;
	padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
 .container-table100 table {
	 width: 100%;
}
 .container-table100 table.table100 {
	 background-color: #fff;
	 border-radius: 10px;
	 overflow: hidden;
	 box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	 -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	 -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	 -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	 -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
}
 .container-table100 table.table100 th {
	 padding: 18px 14px;
	 font-size: 1.2rem;
	 color: #fff;
	 line-height: 1.4rem;
	 background-color: #24477e;
}
 .container-table100 table.table100 td {
	 padding: 14px;
	 color: #444;
	 font-size: 1rem;
	 line-height: 1.4rem;
}
 .container-table100 table th, .container-table100 table td {
	 font-weight: unset;
}
 .container-table100 table tr:nth-child(even) {
     background-color: #f8f6ff;
 }

