{% extends 'bank/base_template.html' %}
{% block title %}Cont creat{% endblock %}

{% block style %}
    {% load static %}
        <link href="{% static 'bank/css/acc_created.css' %}" rel="stylesheet">
{% endblock %}





{% block body %}

    <div class="container">
      <div>
        <p>Contul a fost creat!</p>
          <a class="btn btn-success" href="{% url 'login' %}">Conecteaza-te</a>
      </div>
    </div>

{% endblock %}


