{% extends 'bank/base_template.html' %}
{% block title %}Ingresitrare{% endblock %}



    {% block style %}

            {% load static %}
        <link href="{% static 'bank/css/administrator_menu.css' %}" rel="stylesheet">
{% endblock %}s

{% block body %}
    <div class="float-right btn btn-primary">
        <a class="btn btn-primary" href="{% url 'create_user' %}">Adauga un nou client</a>
    </div>

 <div class="container-table100">
                <table class="table100">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Prenume</th>
                        <th>Nume</th>
                        <th>Email</th>
                        <th>Ultima Logare</th>
                        <th>Grup</th>
                        <th>Actiuni</th>
                    </tr>
                </thead>
                <tbody>

                {% for user in users.object_list %}

                                <tr>
                                    <td><h4>{{ user.username }}</h4></td>
                                    <td><h4>{{ user.first_name }}</h4></td>
                                    <td><h4>{{ user.last_name }}</h4></td>
                                    <td><h4>{{ user.email }}</h4></td>
                                    <td><h4>{{ user.last_login }}</h4></td>


                                    <td>
                                        <h4>{{user.groups.all.0.name}}</h4>
                                    </td>

                                    <td nowrap="nowrap">

                                        <a href="{% url 'user_details' user.id %}"class="btn btn-info">Detalii</a>
                                        <a href="{% url 'edit_user_profile' user.id %}" class="btn btn-warning">Editeaza</a>
                                        <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Sterge</a>
                                    </td>
                                </tr>




                {% endfor %}




                </tbody>
            </table>
     <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

        </div>




{% endblock %}





