<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src ="https://kit.fontawesome.com/a076d05399.js"></script>
    {% block style %}

    {% endblock %}
</head>

<body>
<style>
    .navbar{
    background: #131313;
    padding: 1rem 8rem;
    z-index: 1;
}
.navbar-avatar{
    color: white;
    align-content: end;

}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > il:nth-child(n) > a{
    color: white;
    font-size: 2rem;
    padding: 0 0.8rem;

}

#navbarSupportedContent > ul > il:nth-child(n) > a:hover{
    color: #00BF85;


}


</style>

    <div class="topnav" id="myTopnav">
    <ul>
        <li>
            <i class="fa fa-bank" style="font-size:36px;color:white"></i>
            <a> FedBank</a>
        </li>

          <li>
              {% if user.groups.all.0.name == "Administrator" %}
            <a class="nav-link" href="{% url 'admin_panel' %}">Acasa <span class="sr-only"></span></a>
              {% endif %}
          </li>

            <li>
               {% if user.groups.all.0.name == "SuportClient" %}
                    <a class="nav-link" href="{% url 'admin_panel' %}">Acasa<span class="sr-only"></span></a>
                 {% endif %}
             </li>
            <li>
               {% if user.groups.all.0.name == "Client" %}
                    <a class="nav-link" href="{% url 'client_menu' %}">Acasa<span class="sr-only"></span></a>
                 {% endif %}
                </li>


            <li>
                {% if user.is_authenticated == True %}
                    <a class="nav-link" href="{% url 'profile' %}">Profil <span class="sr-only"></span></a>
            </li>

             <li>
               {% if user.groups.all.0.name == "Administrator" %}
                    <a class="nav-link" href="{% url 'administrator_menu' %}">Vezi Clienti <span class="sr-only"></span></a>
                 {% endif %}
             </li>
              <li>
               {% if user.groups.all.0.name == "SuportClient" %}
                    <a class="nav-link" href="{% url 'suport_client_menu' %}">Vezi Clienti<span class="sr-only"></span></a>
                 {% endif %}
             </li>


              <li>
               {% if user.groups.all.0.name == "Client" %}
                    <a class="nav-link" href="{% url 'client_menu' %}">Meniu Tranzactii<span class="sr-only"></span></a>
                 {% endif %}
                </li>

                <li>
                  <a class="nav-link" href="{% url 'logout' %}">Deconecteaza-te<span class="sr-only"></span></a>
                </li>
                {% else %}
                 <li>
                  <a class="nav-link" href="{% url 'register' %}">Creaza Cont<span class="sr-only"></span></a>
                </li>
                       <li>
                  <a class="nav-link" href="{% url 'login' %}">Conecteaza-te<span class="sr-only"></span></a>
                </li>
                {% endif %}
            </ul>


             <div class="float-right">
              <span class="navbar-avatar" >
                {% if user.is_authenticated == True %}
                    {{ user.get_username }}
                  {% else %}
                    -
                  {% endif %}
              </span>
          </div>

      </div>
    </div>
    {% block body %}

    {% endblock %}
<style>

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 13px;
}

/* Change the color of links on hover */
.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.float-right{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 13px;
  margin-right: 25px
}

    .footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    color: #f2f2f2;
    background: #111;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;

}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0 ;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;

}
.left .content .social a span:hover{
    background: #f12020 ;
}
</style>
{% if user.is_authenticated == True %}

<footer class="footer">
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>FedBank este un holding bancar american cu sediul în Minneapolis, Minnesota și înmatriculat în Delaware.<br>
                    Este compania-mamă a Asociației Naționale a Băncii din SUA și este a cincea cea mai mare instituție bancară din Statele Unite.</p>
                <div class="social">
                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
             <h2>Adress</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Strada Sararilor, Number 44, Craiova</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+40763099181</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">fedbank@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right box">
             <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                  <div class="email">
                      <div class="text">Email *</div>
                      <input  type="email" required>
                  </div>
                <div class="msg">
                    <div class="text">Message *</div>
                    <textarea  rows="1" cols="25" required></textarea>
                </div>
                 <div class="btn">
                     <button type="submit">Send</button>
                 </div>
                </form>
            </div>
        </div>
    </div>
</footer>
{% endif %}

</body>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</html>