{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}


{% endblock %}


{% block body %}

<main class="my-form" style="padding-bottom: 400px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
						<div class="card-header"><h1>SCHIMBA PAROLA</h1></div>
                        <div class="card-body">
                            <form  method="post" enctype="multipart/form-data">
                                {% csrf_token %}

								<div class="form-group row">
                                    <label for="old_password" class="col-md-4 col-form-label text-md-right">Parola veche:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control input100" id="old_password" maxlength="30" name="old_password" placeholder="parola_veche">
                                    </div>
                                </div>

								<div class="form-group row">
									<label for="new_password1" class="col-md-4 col-form-label text-md-right">Parola noua:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control input100" id="new_password1" maxlength="30" name="new_password1" placeholder="parola_noua">
                                    </div>
                                </div>

								<div class="form-group row">
									<label for="new_password2" class="col-md-4 col-form-label text-md-right">Confirma parola:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control input100" id="new_password2" maxlength="30" name="new_password2" placeholder="confirma_parola">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
										{% if form.errors and posted == True %}
                     					<div class="alert alert-danger" role="alert">{{form.errors}}</div>
										{% endif %}


						<button class="btn btn-danger" type="submit">
							Schimba parola
						</button>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>


{% endblock %}