{% extends 'bank/base_template.html' %}
{% block title %}Ingresitrare{% endblock %}


{% block style %}


{% endblock %}s

{% block body %}

{% if profile_form.errors  %}
    <div class="alert alert-danger" role="alert">{{profile_form.errors}}</div>
{% endif %}



<main class="my-form" style="padding-top: 100px; padding-bottom: 380px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">SCHIMBA SAU ADAUGA UN NOU CONTRACT</div>
                        <div class="card-body">
                            <form  method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                  <div class="form-group row">
                                    <label for="contract_start_date" class="col-md-4 col-form-label text-md-right">Data inceperii contractului:</label>
                                    <div class="col-md-6">
                                        <input type="date" id="contract_start_date"  name="contract_start_date" class="form-control">
                                    </div>
                                </div>

                                     <div class="form-group row">
                                    <label for="contract_end_date" class="col-md-4 col-form-label text-md-right">Data inceperii contractului:</label>
                                    <div class="col-md-6">
                                        <input type="date" id="contract_end_date"  name="contract_end_date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Salveaza modificarile
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

