{% extends 'bank/base_template.html' %}

{% block title %}Meniu clienti{% endblock %}



{% block style %}
        {% load static %}
    <link href="{% static 'bank/css/client_menu.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
 {% if expired_contract == True %}
    <div class="container">

                    <h1 style="padding-bottom: 480px; padding-top: 50px">
                       <center> Contractul dumneavoastra a expirat.<br>
                        Contactati-ne pentru a va prelungii contractul! </center>
                    </h1>
 {% endif %}
 {% if no_contract == True %}
                    <h1 style="padding-bottom: 480px; padding-top: 50px">
                        <center>Nu exista un contract asociat contului dumneavoastra.<br>
                        Contactati-ne pentru a crea unul! <br>
                        Va multumim pentru intelegere!</center>
                    </h1>
    </div>
{% endif %}
{% if expired_contract == False and no_contract == False  %}
 <div class="row" style="padding-bottom: 100px">
        <div class="col-md-12">
            <div class="page-header" style="padding-left: 20px">
                <h1>
                   <center> Welcome back {{user.username}} ! <br>
                        <small>CONT CURENT: </small>
                        <small>{{ user.profile.iban }}</small>
                   </center>
                </h1>

                <h3><center>SUMA IN CONT: {{user.profile.amount}} RON</center></h3>
            </div>

            <div>

            </div>


            <div class="d-flex">
                <div class="d-flex w-75 mx-auto column-gap-1">
                    <div class="card flex-grow-1 flex-basis-0">
                        <a href="{% url 'transaction_menu' %}"><img class="card-img-top" style="height: 400px;width: 400px;"  src="https://png.pngtree.com/png-vector/20190307/ourlarge/pngtree-vector-transaction-icon-png-image_755654.jpg" alt="create project"></a>
                        <div class="card-body">
                            <h4 class="card-text">Tranzactie noua </h4>
                        </div>
                    </div>
                        <div class="flex-grow-1 flex-basis-0"></div>



                    <div class="card flex-grow-1 flex-basis-0">
                        <a href="{% url 'transactions_list' %}"><img class="card-img-top" style="height: 400px;width: 400px;" src="https://cdn1.iconfinder.com/data/icons/ecommerce-outline-6/32/Ecommerce-shopping-sale-transaction_4-512.png" alt="List projects"></a>
                        <div class="card-body">
                            <h4 class="card-text">Vezi tranzactii</h4>
                        </div>
                    </div>
                        <div class="flex-grow-1 flex-basis-0"></div>



                    <div class="card flex-grow-1 flex-basis-0">
                        <a href="{% url 'deposit' %}"><img class="card-img-top" style="height: 400px;width: 400px;" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/deposit-33-1106063.png" alt="Statistics"></a>
                        <div class="card-body">
                            <h4 class="card-text">Depoziteaza</h4>
                        </div>
                    </div>
                        <div class="flex-grow-1 flex-basis-0"></div>

                </div>
            </div>

        </div>
    </div>
{% endif %}




{% endblock %}



