{% extends 'bank/base_template.html' %}
{% block title %}Inregistrare{% endblock %}



{% block style %}

{% endblock %}




{% block body %}

{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if profile_form.errors  %}
                     <div class="alert alert-danger" role="alert">{{profile_form.errors}}</div>
{% endif %}

{% if error_message %}
<div class="alert alert-danger" role="alert">{{error_message}}</div>
{% endif %}

<main class="my-form" style="padding-bottom: 20px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">CREATE A NEW USER</div>
                        <div class="card-body">
                            <form  method="post">
                                {% csrf_token %}

                                 <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name:</label>
                                    <div class="col-md-6">
                                        <input type="text"  id="first_name" class="form-control" name="first_name">
                                    </div>
                                </div>
                                   <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="last_name" class="form-control" name="last_name">
                                    </div>
                                </div>
                                  <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address:</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email" class="form-control" name="email">
                                    </div>
                                </div>
                                   <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Username:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="username"  name="username">
                                    </div>
                                </div>

                                   <div class="form-group row">
                                    <label for="pwd1" class="col-md-4 col-form-label text-md-right">Create password:</label>
                                    <div class="col-md-6">
                                        <input type="password" id="pwd1" name="password1" class="form-control">
                                    </div>
                                </div>

                                   <div class="form-group row">
                                    <label for="pwd2" class="col-md-4 col-form-label text-md-right">Repeat password:</label>
                                    <div class="col-md-6">
                                        <input type="password" id="pwd2" name="password2" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="address" class="col-md-4 col-form-label text-md-right">Adress:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="address" name="adress" class="form-control">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="id_phone" class="col-md-4 col-form-label text-md-right">Phone Number:</label>
                                    <div class="col-md-6">
                                        <input type="tel" class="form-control" name="phone" maxlength="128" id="id_phone">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="company_name" class="col-md-4 col-form-label text-md-right">Company Name:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="company_name" name="company_name">
                                    </div>
                                </div>

                                   <div class="form-group row">
                                    <label for="birth_date" class="col-md-4 col-form-label text-md-right">Data nasterii:</label>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control" id="birth_date" name="birth_date">
                                    </div>
                                </div>


                                       {{ select_from.choice }}


                                    <hr>
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Create new user  </button>
                                    </div> <!-- form-group// -->
                                </div>



                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>



{% endblock %}


