{% extends 'bank/base_template.html' %}
{% block title %}Inregistrare{% endblock %}


{% block style %}

{% endblock %}s

{% block body %}


<main class="my-form" style="padding-bottom: 300px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">EDIT YOUR PROFILE USER</div>
                        <div class="card-body">
                            <form  method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                  <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address:</label>
                                    <div class="col-md-6">
                                        <input type="text" value="{{ user.email }}" id="email" class="form-control" name="email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name:</label>
                                    <div class="col-md-6">
                                        <input type="text" value="{{ user.first_name }}" id="first_name" class="form-control" name="first_name">
                                    </div>
                                </div>

                                  <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name:</label>
                                    <div class="col-md-6">
                                        <input type="text" value="{{ user.last_name }}" id="last_name" class="form-control" name="last_name">
                                    </div>
                                </div>

                                    <div class="form-group row">
                                    <label for="address" class="col-md-4 col-form-label text-md-right">Adress:</label>
                                    <div class="col-md-6">
                                        <input type="text"  class="form-control" id="address" value="{{ user.profile.address }}" name="address">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="id_phone" class="col-md-4 col-form-label text-md-right">Phone Number:</label>
                                    <div class="col-md-6">
                                        <input type="tel" class="form-control" name="phone" maxlength="128" value="{{ user.profile.phone }}" id="id_phone" readonly>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="company_name" class="col-md-4 col-form-label text-md-right">Company Name:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="company_name" value="{{ user.profile.company_name }}" name="company_name">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Salveaza
                                        </button>

                                        <a href="{% url 'change_password' %}" class="btn btn-danger">
                                            Schimba parola
                                        </a>
                                    </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>


{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if field.label_tag  %}
                     <div class="alert alert-danger" role="alert"> {{ field.label_tag }} {{ field }}</div>
{% endif %}

{% endblock %}

