{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}
    {% load static %}
    <link href="{% static 'bank/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="mid" style="padding-bottom: 400px">
        <video autoplay muted loop>
                {% load static %}
                <source class="embed-responsive" src="{% static 'bank/video/1.mp4' %}" type="video/mp4">
        </video>

        <div class="hero text-center">
            <h2 class="text-light display-4 font-weight-bold">Web Aplication Banking</h2>
            <p class="text-light mx-auto">Sperăm ca noua interfață ușor de navigat și noile funcționalități  din aplicația
                    Federal Bank <br> te ajută să te bucuri mai ușor ca oricând de banking pe desktop.</p>
            <a class="text-dark" href="{% url 'register' %}">Sa incepem!</a>

        </div>

</div>


{% endblock %}