
{% block title %} Conectare {% endblock %}





{% block style %}
        {% load static %}
        <link href="{% static 'bank/css/login.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

{% endblock %}



{% block body %}

    <div id="logreg-forms">
        <form class="form-signin" role="form" action="{% url 'login' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>


            <input id="id_username" maxlength="30" name="username" type="text"  class="form-control" placeholder="Username" required="" autofocus="">
            <br>
            <input id="id_password" maxlength="30" name="password" type="password" class="form-control" placeholder="Password" required="">

			{% if error_message %}
				<div class="alert alert-danger" role="alert">Username sau parola gresita!</div>
			{% endif %}

            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>

            <hr>
             <p style="text-align: center">Don't have an account?</p>
			<a style="color: #f2f2f2" href="{% url 'register' %}" class="btn btn-danger">Create new acount</a>

            </form>
    </div>

{% endblock %}





