{% extends 'bank/base_template.html' %}
{% block title %}Ingresitrare{% endblock %}


{% block style %}


{% endblock %}s

{% block body %}
{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if phone_error  %}
                     <div class="alert alert-danger" role="alert">Codul IBAN este invalid!</div>
{% endif %}


{% if amount_error  %}
                     <div class="alert alert-danger" role="alert">Fonduri insuficiente!</div>
{% endif %}

{% if current_user_error  %}
                     <div class="alert alert-danger" role="alert">Codul IBAN corespunde contului curent!</div>
{% endif %}


<main class="my-form" style="padding-bottom: 300px; padding-top: 100px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
						<div class="card-header"><h1>Tranzactie noua</h1></div>
                        <div class="card-body">
                            <form  method="post" enctype="multipart/form-data">
                                {% csrf_token %}



								<div class="form-group row">
									<label for="id_iban" class="col-md-4 col-form-label text-md-right">IBAN:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="id_iban" required="" name="iban" >
                                    </div>
                                </div>

								<div class="form-group row">
									<label for="id_amount" class="col-md-4 col-form-label text-md-right">SUMA:</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" required="" id="id_amount" name="amount">
                                    </div>
                                </div>

                                <div class="form-group row">
									<label for="id_details" class="col-md-4 col-form-label text-md-right">Detali:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="id_details" name="details">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button class="btn btn-success" type="submit">
                                            Finalizeaza tranzactia
                                        </button>
                                    </div>

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>



{% endblock %}

