{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}
{% load static %}
        <link href="{% static 'bank/css/password_changed.css' %}" rel="stylesheet">


{% endblock %}


{% block body %}



  <div class="container" style="padding-bottom: 400px">
      <div>
          <p>Parola a fost schimbata cu succes!</p>
          <a href="{% url 'profile' %}" class="btn btn-success" href="">Vezi profil</a>
      </div>
    </div>
{% endblock %}