{% block title %}Inregistrare{% endblock %}


{% block style %}
    {% load static %}
        <link href="{% static 'bank/css/register.css' %}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if profile_form.errors  %}
                     <div class="alert alert-danger" role="alert">{{profile_form.errors}}</div>
{% endif %}

{% if error_message %}
<div class="alert alert-danger" role="alert">{{error_message}}</div>
{% endif %}

<div class="container">
            <form  method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <h2>Registration</h2>
                <div class="form-group">
                    <label for="last_name" class="col-sm-3 control-label">Nume:</label>
                    <div class="col-sm-9">
                        <input type="text" id="last_name"  name="last_name" placeholder="Nume" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-sm-3 control-label">Prenume:</label>
                    <div class="col-sm-9">
                        <input type="text" id="first_name" name="first_name" placeholder="Prenume" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="username" class="col-sm-3 control-label" >Username:</label>
                    <div class="col-sm-9">
                        <input type="text"  placeholder="Username" class="form-control" id="username"  name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd1" class="col-sm-3 control-label">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" id="pwd1" name="password1" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd2" class="col-sm-3 control-label">Confirm Password:</label>
                    <div class="col-sm-9">
                        <input type="password" id="pwd2"  name="password2" placeholder="Password" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label" >Adresa:</label>
                    <div class="col-sm-9">
                        <input type="text"  placeholder="Adress" class="form-control" id="address"  name="address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_phone" class="col-sm-3 control-label">Phone number:</label>
                    <div class="col-sm-9">
                        <input type="tel"  name="phone"  maxlength="128" required="" id="id_phone" placeholder="Phone number" class="form-control">

                    </div>
                </div>
                  <div class="form-group">
                    <label for="company_name" class="col-sm-3 control-label" >Company name:</label>
                    <div class="col-sm-9">
                        <input type="text"  placeholder="Company name if exist" class="form-control" id="company_name"  name="company_name"  name="address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birth_date" class="col-sm-3 control-label">Date of Birth:</label>
                    <div class="col-sm-9">
                        <input type="date" id="birth_date"  name="birth_date" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Register</button>
                <hr>
                <p style="text-align: center">Ai deja un cont?</p>
			    <a style="color: #f2f2f2" href="{% url 'login' %}" class="btn btn-success btn-block">Conecteaza-te</a>
            </form>
        </div>


{% endblock %}


