{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}

{% endblock %}


{% block body %}
{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if password_error  %}
                     <div class="alert alert-danger" role="alert"> Parolele nu sunt identice!</div>
{% endif %}

<main class="my-form">
    <div class="container" style="padding-bottom: 470px">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
						<div class="card-header"><h1>RESETEAZA PAROLA</h1></div>
                        <div class="card-body">
                            <form  method="post" enctype="multipart/form-data">
                                {% csrf_token %}



								<div class="form-group row">
									<label for="password1" class="col-md-4 col-form-label text-md-right">Parola noua:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control input100" id="password1" maxlength="30" name="password1" placeholder="parola_noua">
                                    </div>
                                </div>

								<div class="form-group row">
									<label for="password2" class="col-md-4 col-form-label text-md-right">Confirma parola:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control input100" id="password2" maxlength="30" name="password2" placeholder="confirma_parola">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button class="btn btn-success" type="submit">
                                            Salveaza
                                        </button>
                                    </div>

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>






{% endblock %}