{% extends 'bank/base_template.html' %}




{% block style %}
    {% load static %}
        <link href="{% static 'bank/css/transactions_list_filter.css' %}" rel="stylesheet">
{% endblock %}s


{% block body %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<label class="label">De la:</label>
    <input class="input--style-4" type="date" class="form-control" id="from_date"  name="from_date">

    <label class="label">Pana la:</label>
    <input class="input--style-4" type="date" class="form-control" id="to_date"  name="to_date">
    <button class="btn btn-success" type="submit">
        Filtreaza
    </button>
<div class="float-right">
                                 <a style="margin-left: 10px;" href="{% url 'transactions_list' %}" class="btn btn-outline-dark">
                Inapoi
            </a>
</div>
</form>





 <div class="container-table100">
                <table class="table100">
                <thead>
                    <tr>
                        <th>De la</th>
                        <th>Pentru</th>
                        <th>Tip</th>
                        <th>Data</th>
                        <th>Detalii</th>
                        <th>Suma</th>
                    </tr>
                </thead>
                <tbody>

                {% for transaction in transactions.object_list %}

                                <tr>
                                    <td><h4>{{ transaction.from_user }}</h4></td>
                                    <td><h4>{{ transaction.to_user }}</h4></td>
                                    {% if transaction.code ==  10000 %}
                                    <td><h4>Depozitare</h4></td>
                                    {% else %}
                                    <td><h4>Tranzactie</h4></td>
                                    {% endif %}
                                    <td><h4>{{ transaction.date }}</h4></td>
                                    <td><h4>{{ transaction.details}}</h4></td>
                                    <td><h4>{{ transaction.amount }} RON</h4></td>


                                </tr>




                {% endfor %}




                </tbody>
            </table>
<div class="pagination">
    <span class="step-links">
        {% if transactions.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ transactions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
        </span>

        {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}">next</a>
            <a href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>



{% endblock %}





