{% extends 'bank/base_template.html' %}
{% block title %}Verificare user{% endblock %}


{% block style %}


{% endblock %}s

{% block body %}
{% if form.errors  %}
    <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if invalid_code  %}
    <div class="alert alert-danger" role="alert">Codul nu este valid!Mai aveti{% if tries %} {{tries}}{% endif %} incercari!</div>
{% endif %}

<main class="my-form" style="padding-bottom: 350px; padding-top: 100px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header"><h1>COD DE VERIFICARE</h1></div>
                        <div class="card-body">
                            <form  method="post">
                                {% csrf_token %}

                                 <div class="form-group row">
                                    <label for="id_code" class="col-md-4 col-form-label text-md-right">Codul primit prin SMS:</label>
                                    <div class="col-md-6">
                                        <input type="text"  id="id_code" class="form-control"  required="" name="code">
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-success">Verifica</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}s

